.bg-light {
    background-color: #e0f7fa !important;
}

.dark-mode {
    .bg-light {
        background-color: #333 !important;
    }
}

.input-group {
    display: flex;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.input-group-text {
    background-color: transparent;
    border: 0;
    color: inherit;

    .light-mode & {
        color: #0288d1;
    }

    .dark-mode & {
        color: #ffffff;
    }
}

.form-control {
    border: 0;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #e0f7fa;
    color: #0288d1;
    border: 1px solid transparent;

    .light-mode & {
        background-color: #e0f7fa;
        color: #0288d1;
    }

    .dark-mode & {
        background-color: #333;
        color: #ffffff;
        border: 1px solid #ffffff;
    }
}


.custom-input {
    border: none;
    box-shadow: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

input::placeholder {
    opacity: 1;

    .light-mode & {
        color: rgb(68, 144, 225);
    }

    .dark-mode & {
        color: #ffffff;
    }
}

@media (max-width: 768px) {
    .form-control {
        padding: 8px 18px;
    }
}

@media (max-width: 480px) {
    .form-control {
        padding: 6px 16px;
    }
}